parameters:
    contao.forum_pageId: ~
    contao.forum_pageUrl: ~
    contao.forum_pageAlias: ~
    contao.forum_groups: []
    contao.url: ~
    contao.body_class: ~
    contao.bridge_is_installed: false
    contao.db:
        driver:   pdo_mysql
        host:     ~
        port:     ~
        user:     ~
        password: ~
        dbname:   ~
        charset:  UTF8

